<%- include("header") -%>


<h2 class="box" id="heading">About</h2>
<center><p class="box list">This is created by Sujeet Kumar. <br> A ToDo List for every things. </p></center>

<%- include("footer") -%>
